<div class="container">
  <ul class="tab-list">
    <li class="tab box-active">アカウント</li>
    <li class="tab">プロフィール</li>
  </ul>
  <div class="tabbox-contents">
    <div class="tabbox box-show">
      <p>メールアドレス</p>
        <%= current_user.email %><br />
      <p>パスワード</p>
        <%= current_user.password %><br />
      <li><%= link_to '編集', edit_user_registration_path %></li>
    </div>
    <div class="tabbox">
    <p>hello</p>
    </div>
  </div>
</div>
