// 予約登録画面
.flex-container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.flex-item1_1{
  display: flex;
  padding: 20px;
  gap: 40px;
  font-size: 20px;
}
.address1{
  font-size: 30px;
}

.introduction1{
  font-size: 30px;
  border-top: solid olive 2px;
  border-bottom: solid olive 2px;
  padding: 20px;
}

.name1{
  font-size: 25px;
  padding-bottom: 30px;
  font-weight: bold;
}

.flex_item2{
 border: 2px solid #ccc;
 width: 300px;
 height: 450px;
 font-size: 20px;
 padding: 20px;
}
.date{
  width: 200px;
  height: 50px;
}
.people_field{
  width: 200px;
  height: 50px;
}
.room_price{
  font-size: 30px;
  padding: 10px;
}
//予約確認画面
.item{
  display: flex;
  justify-content: center;
}
.item1{
  text-align: left;
  width: 600px;
  height: 1200px;
  border: 1px solid gray;
  flex-direction: column;
  font-size: 30px;
  border-radius: 10px;
}
.item1_1{
  padding: 40px;
  font-size: 50px;
}
.item1_2{
  font-size: 30px;
  text-align: left;
  padding: 40px;
}
.item1_3{
  background-color: #CCCC;
  width: 500px;
  font-size: 30px;
  padding: 20px;
  border-radius: 10px;
}
.item1_4{
  border-bottom: 1px solid gray;
  font-size: 30px;
  padding: 20px;
}
.item1_5{
  border-bottom: 1px solid gray;
  font-size: 20px;
  padding: 40px 20px;
}
.reservation_button1{
  height: 50px;
  width: 500px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: skyblue;
  border: none;
  color: white;
}
.reservation_button2{
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  background-color: gray;
  border-radius: 10px;
  height: 50px;
  width: 500px;
  color: white!important;
  padding: 10px;
}
.link_to_login{
  display: block;
  text-decoration: none;
  height: 50px;
  width: 220px;
  text-align: center;
  border-radius: 5px;
  background-color: skyblue;
  color: white!important;
  padding: 10px;
}
@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
}
