// 予約登録画面
.flex-container{
  display: flex;
  justify-content: space-around;
}
.flex-item1{

}
.name1{
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
}